body {
    /* Base font styles */
    font-family: "Roboto", sans-serif;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.header .content {
    padding-top: 79px;
    padding-bottom: 79px;
}

.main-menu .menu-links {
    display: flex;
    gap: 42px;
}

.menu-links .menu-link a {
    text-decoration: none;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: #000;
}

.menu-links .menu-link a.active {
    color: #34547a;
    pointer-events: none;
}

.menu-links .menu-link a:hover {
    text-decoration: underline;
}

/* font-family */
/* font-size */
/* font-weight */
/* line-height */
/* text-decoration abo text-transform */
/* ... */

.hero .content {
    padding-top: 50px;
    padding-bottom: 141px;
}

.hero .title {
    font-weight: 500;
    font-size: 48px;
    color: black;
    margin-bottom: 60px;
}

.hero .description {
    width: 48%;
    line-height: 164%;
    margin-bottom: 65px;
}

.hero .cta {
    border: none;
    padding: 24px 68px;
    background-color: #34547a;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.about .content {
    padding-top: 112px;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .title,
.video .title {
    width: 540px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    color: black;
}

.about .description,
.video .description {
    width: 540px;
    line-height: 164%;
}

.video .content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.video .title {
}

.video .description {
    margin-bottom: 57px;
}

.video .video-player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video .video-player .video-preview {
}

.video .video-player .play-button {
    position: absolute;
}
