* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body {
    font-size: 0;
}

.figure {
    font-size: 14px;
    height: 150px;
    width: 150px;
    display: inline-block;
}

.figure-1 {
    background: yellow;
}

.figure-2 {
    background: burlywood;
}

.figure-3 {
    background: palegoldenrod;
} */

/* .parrots {
    width: 300px;
    height: 300px;
}

.text {

} */

/*
- НОРМАЛЬНИЙ ПОТІК (+ display: inline-block)
- FLOAT - layout
- FLEX - layout
- GRID - layout
*/

/* LAYOUT */

.clearfix {
    clear: both;
    height: 3px;
    background-color: red;
}

.block {
    border: 3px solid palevioletred;
    width: 150px;
    height: 150px;
}

.block-1 {
    float: left;
}

.block-2 {
    float: left;
    background-color: aquamarine;
}

.inner {
    border: 1px solid palevioletred;
    width: 50px;
    height: 50px;
    background-color: hotpink;
}

.block-3 {
    float: left;
}

.block-4 {
    float: left;
}

.block-5 {
    float: left;
}

.some-block {
    height: 150px;
    width: 150px;
    background-color: yellow;
    
    position: sticky;
    top: 50px;
}
