.container .content {
  width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1680px) {
  .container .content {
    width: 1320px;
  }
}
@media (max-width: 1400px) {
  .container .content {
    width: 904px;
  }
}
@media (max-width: 984px) {
  .container .content {
    width: 648px;
  }
}
@media (max-width: 728px) {
  .container .content {
    width: 100%;
  }
}
@media (max-width: 728px) {
  .container.wide-block {
    padding-left: 0;
    padding-right: 0;
  }
}
.container.wide-block .content {
  width: 1650px;
  margin: 0 auto;
}
@media (max-width: 1680px) {
  .container.wide-block .content {
    width: 1370px;
  }
}
@media (max-width: 1400px) {
  .container.wide-block .content {
    width: 954px;
  }
}
@media (max-width: 984px) {
  .container.wide-block .content {
    width: 100%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  color: black;
}

.header-background {
  color: white;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  position: relative;
  margin-bottom: 20px;
}
.header-background::before {
  content: "";
  width: calc(100% - 40px);
  position: absolute;
  top: 100%;
  height: 10px;
  background-color: rgb(202, 202, 219);
  justify-self: center;
  display: block;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.header-background::after {
  content: "";
  width: calc(100% - 80px);
  position: absolute;
  top: calc(100% + 10px);
  height: 10px;
  background-color: rgb(231, 231, 242);
  justify-self: center;
  display: block;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.anchor {
  display: inline-block;
  border: solid white;
  border-width: 0 2px 2px 0;
  /* Only bottom and right borders */
  padding: 5px;
  transform: rotate(45deg);
  /* Rotates the square to point the corner down */
}

@media (max-width: 728px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.wide-block {
  margin-top: 50px;
  margin-bottom: 50px;
}
.wide-block .content {
  background-color: palevioletred;
}

.man-picture {
  transition: opacity 3s;
  display: block;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: rotate(0);
    opacity: 1;
    transform: scale(1);
  }
  25% {
    transform: rotate(-5deg);
    opacity: 0;
    transform: scale(1.4);
  }
  75% {
    transform: rotate(5deg);
    opacity: 1;
    transform: scale(0.4);
  }
}
.header {
  z-index: 2;
}
@media (max-width: 728px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header__content {
  display: grid;
  grid-template-areas: "logo contacts" "logo menu";
  padding-top: 50px;
}
@media (max-width: 984px) {
  .header__content {
    grid-template-areas: "contacts" "logo" "menu";
  }
}
@media (max-width: 728px) {
  .header__content {
    grid-template-areas: "contacts contacts" "logo hamburger";
    padding-top: 0;
  }
}
.header__logo {
  width: fit-content;
  grid-area: logo;
  height: fit-content;
}
@media (max-width: 984px) {
  .header__logo {
    margin-bottom: 30px;
  }
}
@media (max-width: 728px) {
  .header__logo {
    width: 70px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .header__logo img {
    width: 100%;
  }
}
.header__contacts {
  width: fit-content;
  margin-left: auto;
  grid-area: contacts;
  display: flex;
  margin-bottom: 16px;
}
@media (max-width: 984px) {
  .header__contacts {
    margin-left: initial;
    margin-bottom: 30px;
  }
}
@media (max-width: 728px) {
  .header__contacts {
    background-color: rgba(245, 245, 250, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: content-box;
    margin-left: -15px;
    margin-bottom: 0;
  }
}
.header__menu {
  width: fit-content;
  margin-left: auto;
  grid-area: menu;
  height: fit-content;
}
@media (max-width: 984px) {
  .header__menu {
    margin-left: initial;
  }
}
@media (max-width: 728px) {
  .header__menu {
    display: none;
  }
}
.header__hamburger {
  display: none;
  height: 32px;
  width: 32px;
  grid-area: hamburger;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  margin-top: 12.5px;
}
@media (max-width: 728px) {
  .header__hamburger {
    display: flex;
  }
}
.header__hamburger div {
  width: 18px;
  height: 18px;
  border-top: 2.5px solid white;
  border-bottom: 2.5px solid white;
  position: relative;
  display: flex;
  align-items: center;
}
.header__hamburger div:after {
  content: "";
  background-color: white;
  width: 18px;
  height: 2px;
  position: absolute;
}
.header__languages {
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.header__languages::after {
  content: "";
  background-color: rgb(230, 230, 240);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(100% + 6px);
}
@media (max-width: 728px) {
  .header__languages::after {
    content: none;
  }
}
.header__language {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  color: white;
  width: 33px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: none;
}
.header__language--active {
  background: rgb(240, 20, 90);
  pointer-events: none;
}
.header__language:hover {
  background: palevioletred;
  transition: background-color 0.5s;
}
.header__address {
  font-style: normal;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.header__address::after {
  content: "";
  background-color: rgb(230, 230, 240);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(100% + 6px);
}
@media (max-width: 728px) {
  .header__address::after {
    content: none;
  }
}
@media (max-width: 728px) {
  .header__address {
    display: none;
  }
}
.header__callback {
  font-weight: 700;
  font-size: 16px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.header__callback::after {
  content: "";
  background-color: rgb(230, 230, 240);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(100% + 6px);
}
@media (max-width: 728px) {
  .header__callback::after {
    content: none;
  }
}
@media (max-width: 728px) {
  .header__callback {
    margin-left: auto;
  }
}
@media (max-width: 728px) {
  .header__fb {
    display: none;
  }
}
.header__menu-list {
  display: flex;
  gap: 15px;
}
.header__menu-link {
  font-weight: 700;
  font-size: 16px;
  color: white;
}

.hero {
  z-index: 3;
}
.hero .content {
  padding-bottom: 30px;
}
.hero__title {
  margin-top: 361px;
  margin-bottom: 405px;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
}
@media (max-width: 984px) {
  .hero__title {
    margin-top: 269px;
    margin-bottom: 405px;
  }
}
@media (max-width: 728px) {
  .hero__title {
    margin-top: 129px;
    margin-bottom: 159px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero__anchor {
  color: white;
  margin: 0 auto;
  display: flex;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.hero__anchor svg {
  position: relative;
  top: 3px;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.top__image {
  position: absolute;
  margin: 0 auto;
  align-self: center;
  z-index: 1;
  height: 100%;
}

.features .content {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features__tab-widget {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1400px) {
  .features__tab-widget {
    width: 100%;
  }
}
@media (max-width: 984px) {
  .features__tab-widget {
    flex-direction: column;
  }
}
.features__tab-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  justify-content: center;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  padding-right: 60px;
}
@media (max-width: 984px) {
  .features__tab-links {
    flex-direction: row;
    border-right: none;
    padding-bottom: 30px;
    overflow-x: scroll;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    width: calc(100vw - 25px);
    padding-left: calc((100% - 648px) / 2);
    padding-right: calc((100% - 648px) / 2);
  }
}
@media (max-width: 728px) {
  .features__tab-links {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.features__tab-links::-webkit-scrollbar {
  display: none;
}
.features__tab-link {
  color: white;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  white-space: nowrap;
}
.features__tab-link--active {
  pointer-events: none;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  /* Clips background to text */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Makes original text color transparent */
  color: transparent;
  /* Fallback */
}
.features__tab-link:hover {
  color: rgb(240, 20, 90);
}
.features__tab-content {
  flex: 2;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding-left: 60px;
}
@media (max-width: 984px) {
  .features__tab-content {
    padding-top: 30px;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    padding-left: 0;
    margin-top: 68px;
  }
}
.features__tab-title {
  margin-bottom: 30px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}
.features__tab-description {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  opacity: 0.8;
}

.services .content {
  padding-bottom: 60px;
}
.services__link {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(36, 163, 255);
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}
.services__link:after {
  content: ">";
  position: absolute;
  display: block;
  left: calc(100% + 5.5px);
}
.services__link:hover {
  color: rgb(240, 20, 90);
}
.services__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  margin-bottom: 60px;
  pointer-events: none;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  /* Clips background to text */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Makes original text color transparent */
  color: transparent;
  /* Fallback */
}
.services__offers {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.services__offer {
  width: calc(33.3333333333% - 40px);
}
@media (max-width: 984px) {
  .services__offer {
    width: calc(50% - 40px);
  }
}
@media (max-width: 728px) {
  .services__offer {
    width: 100%;
  }
}
.services__img {
  width: 92px;
  height: 92px;
  padding: 14px;
  border-radius: 24px;
  background-color: white;
  margin-bottom: 44px;
}
.services__offer-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: rgb(36, 163, 255);
  margin-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map */
