.container {
    .content {
        width: map-get($content-width, desktop-lg);
        margin: 0 auto;
        background-color: red;

        @media (max-width: map-get($breakpoints, desktop)) {
            width: map-get($content-width, desktop);
        }

        @media (max-width: map-get($breakpoints, tablet-lg)) {
            width: map-get($content-width, tablet-lg);
        }

        @media (max-width: map-get($breakpoints, tablet)) {
            width: map-get($content-width, tablet);
        }

        @media (max-width: map-get($breakpoints, mobile)) {
            width: map-get($content-width, mobile);
        }
    }
}