@mixin text() {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    font-optical-sizing: auto;
    font-style: normal;
    color: $black;
}


@mixin headerDot() {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 18px;

    &::after {
        content: '';
        background-color: rgba(230, 230, 240, 1);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: calc(100% + 6px);

        @media (max-width: map-get($breakpoints, mobile)) {
            content: none;
        }
    }
}