body {
    @include text;
}



.layout {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 1fr 100px;

    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;

    header {
        background: palegoldenrod;
        grid-area: header;
    }

    nav {
        background: palegreen;
        grid-area: nav;
    }

    main {
        background: palevioletred;
        grid-area: main;
    }

    aside {
        background: palegoldenrod;
        grid-area: aside;
    }

    footer {
        background: powderblue;
        grid-area: footer;
    }
}











.some-class {
    background-color: black !important;
}

.magic-class {
    outline: 3px solid palevioletred;
}