@mixin normal() {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

@mixin text() {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    color: $gray;
}

@mixin semibold() {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1;
}

@mixin bold() {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1;
}