body {
    background-color: paleturquoise;
    p {
        color: red;
        background-color: red;

        clip-path: circle();
    }
}

.test-card {
    display: flex;             // Should stay unchanged in 2026
    width: stretch;            // Needs prefixes for engine compatibility
    user-select: none;         // Needs prefixes for older mobile webkit views
    -ms-grid-columns: 1fr 1fr; // Legacy code you want Autoprefixer to clean up
}
