.content {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}

@media (max-width: 1200px) {
    .content {
        width: 960px;
    }
}

@media (max-width: 1024px) {
    .content {
        width: 768px;
    }
}

@media (max-width: 792px) {
    .content {
        width: 100%;
    }
}




.header {
    background-color: #eeeff1;
}

.hero {
    background-color: #eeeff1;
}

.about {
    background-color: #f9f9f9;
}

.projects {
    background-color: #34547a;
}

.video {
    background-color: #eeeff1;
}

.footer {
    background-color: #34547a;
}
