@font-face {
    font-family: "Playwrite";
    font-weight: 400;
    src:
        url("../fonts/PlaywriteIE-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "PlaywriteThin";
    font-weight: 600;
    src:
        url("../fonts/PlaywriteIE-Thin.woff2") format("woff2");
}

